@model IEnumerable<ECommerce.Application.Core.Entities.Order>

@{
    ViewData["Title"] = "ViewCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ViewCart</h1>
<hr />
<div class="text-center">

    @foreach (var item in Model)
    {
        <div class="w-50">
            <div class="row">
                <div class="fw-bold col-md-3">
                    Order Id:
                </div>
                <div class="col-md">
                    @item.Id
                </div>
            </div>
            <div class="row">
                <div class="fw-bold col-md-3">
                    Product Name:
                </div>
                <div class="col-md">
                    @item.Product.ProductName
                </div>
            </div>
            <div class="row">
                <div class="fw-bold col-md-3">
                    Total Price: Rs
                </div>
                <div class="col-md">
                    @item.TotalPrice
                </div>
            </div>
        </div>
        <div>
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </div>
    }
</div>
